@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,500&display=swap");
:root {
  --font-family: Poppins, "sans-serif";
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./bg.jpg");
  color: white;
  height: 100vh;
  backdrop-filter: blur(50px);
}
h1 {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  margin-top: 200px;
}
.container {
  display: flex;
  margin-top: 10px;
}
.container > div {
  display: flex;
  flex-direction: column;
  margin: 25px 25px;
  text-align: center;
  font-size: 35px;
  background: rgba(000, 000, 000, 0.4);
  padding: 35px;
  border-radius: 5px;
  cursor: not-allowed;
}
