body {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  height: 99vh;
}
.container {
  width: 800px;
  height: 600px;
  overflow: hidden;
}
.container > img {
  width: 100%;
}
button {
  padding: 10px;
  cursor: pointer;
  background: black;
  color: white;
  border-radius: 5px;
  border: none;
}
